*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #202020;
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    padding: 20px;
    width: 800px;
}

.topo h1{
    margin: 30px 20px;
    color: whitesmoke;
}

.quadros{
    overflow: hidden;
    width: 1200px;
    height: 75vh;
}

.quadro{
    background: whitesmoke;
    border: 2px solid grey;
    width: 280px;
    float: left;
    padding: 1px 0px 5px 0px;
    border-radius: 5px;
    margin: 20px;
    height: 100%;
}

h2{
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    margin: 5px;
}

/* Cartões */

.cartoes{
    margin-top: 15px;
    margin-bottom: 50px;
    height: 85%;
    overflow: auto;
}

.cartao{
    position: relative;
    border-radius: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #fff;
    width: 87%;
    padding: 2% 5px 2% 5px;
    margin: 7px 13px 7px 13px;
    overflow: hidden;
}

.cartao:hover{
    background-color: rgb(248, 248, 248);
}

.data{
    color: rgb(59, 59, 59);
    font-size: 14px;
    float: left;
}

.dias{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: rgb(59, 59, 59);
    font-size: 14px;
}

/* Menu do botão direito */

.menu{
    color: black;
    box-shadow: 0px 0px 6px rgb(151, 151, 151);
    border-radius: 5px;
    width: 200px;
    position: absolute;
    z-index: 10;
}

.menu li{
    background-color: whitesmoke;
    list-style: none;
    padding: 5px 10px;
}
.menu li:hover{
    background-color: rgb(230, 230, 230);
}

.off{
    display: none;
}