*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #202020;
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    padding: 20px;
    width: 800px;
}

.topo h1{
    margin: 30px 20px;
    color: whitesmoke;
}

.quadros{
    overflow: hidden;
    width: 1200px;
    height: 75vh;
}

.quadro{
    background: whitesmoke;
    border: 2px solid grey;
    width: 280px;
    float: left;
    padding: 1px 0px 5px 0px;
    border-radius: 5px;
    margin: 20px;
    height: 100%;
}

h2{
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    margin: 5px;
}

.cartoes{
    margin-top: 15px;
    margin-bottom: 50px;
    height: 85%;
    overflow: auto;
}

.cartao{
    border-radius: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #fff;
    width: 92%;
    padding: 4% 0%;
    margin: 7px 13px 7px 13px;
}